@tailwind base;
@tailwind components;
@tailwind utilities;
@layer normalize, base, demo, stick, effect, srollbar, debug;
@layer base {
  :root {
    --font-size-min: 14;
    --font-size-max: 20;
    --font-ratio-min: 1.1;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }
  html {
    color-scheme: light dark;
  }
  [data-theme="light"] {
    color-scheme: light only;
  }
  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }
}
.main-nav-links {
  position: relative;
}
.main-nav-links::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: #f59e0b; 
  transition: width 0.3s ease;
}
.main-nav-links:hover{
    color: #f59e0b;
    transition: width 0.5s ease;
    font-weight:500;
}
.main-nav-links:hover::after {
  width: 100%;
}
@keyframes shine {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}